**SELENIUM**

In [1]:
import requests
import pandas as pd
from time import sleep
import numpy as np


from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys



import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/98.0.4758.102/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\anton\.wdm\drivers\chromedriver\win32\98.0.4758.102]

In [3]:
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#para ocultarme como robot, pero me sigue diciendo que hay un software automatico usando chrome
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('--incognito')#incognito window

In [4]:
# iniciamos el driver
driver = webdriver.Chrome(ChromeDriverManager().install())

## accedemos a la pagina web
driver.get('https://www.wunderground.com/history')

# esperamos
driver.implicitly_wait(2)

# aceptamos las cookies
driver.find_element_by_css_selector('#truste-consent-button').click()
sleep(5)

# seleccionamos la casilla para poner la ciudad por la que queremos buscar
ciudad = driver.find_element_by_css_selector('#historySearch').send_keys('Madrid, Madrid, Spain', Keys.TAB)
print("llegamos")
sleep(5)

# por lo que sea le tenemos que dar dos veces al botón de enviar
print("esperando1")
driver.find_element_by_xpath('//*[@id="dateSubmit"]').click()
sleep(2)
print("esperando2")
driver.find_element_by_xpath('//*[@id="dateSubmit"]').click()

# seleccionamos que nos los valores medios del mes
sleep(5)

driver.find_element_by_xpath('//*[@id="inner-content"]/div[2]/div[1]/div[1]/div[1]/div/lib-link-selector/div/div/div/a[3]').click()

resultado = driver.find_element_by_css_selector("#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/98.0.4758.102/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\anton\.wdm\drivers\chromedriver\win32\98.0.4758.102]

llegamos
esperando1
esperando2

In [5]:
resultado

'Time Temperature (° F) Dew Point (° F) Humidity (%) Wind Speed (mph) Pressure (Hg) Precipitation (in)\nMar\n1\n2\nMax Avg Min\n64 50.0 34\n63 54.0 45\nMax Avg Min\n43 36.6 32\n43 38.8 32\nMax Avg Min\n93 64.7 32\n87 58.6 36\nMax Avg Min\n12 4.4 1\n20 8.6 1\nMax Avg Min\n28.2 28.1 28.1\n28.1 28.1 28.0\nTotal\n0.00\n0.00'

In [6]:
url_list = []
for year in range(2010, 2022):
    for month in range(1,13):
        url_list.append(f"https://www.wunderground.com/history/monthly/LEMD/date/{year}-{month}")

In [7]:
len(url_list)

144

In [8]:
url_list[:3]

['https://www.wunderground.com/history/monthly/LEMD/date/2010-1',
 'https://www.wunderground.com/history/monthly/LEMD/date/2010-2',
 'https://www.wunderground.com/history/monthly/LEMD/date/2010-3']

In [9]:
driver = webdriver.Chrome(ChromeDriverManager().install())

result_list = []

for i in url_list[:3]:
    driver.get(i)
    try: 
        sleep(5)
        # aceptamos cookies
        driver.find_element_by_css_selector('#truste-consent-button').click()
        driver.implicitly_wait(2)
        # sacamos el texto de la tabla
        resultado = driver.find_element_by_css_selector("#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text
        result_list.append(resultado)
    except:
        sleep(5)
        resultado = driver.find_element_by_css_selector("#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text
        result_list.append(resultado)

driver.quit()

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/98.0.4758.102/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\anton\.wdm\drivers\chromedriver\win32\98.0.4758.102]

In [10]:
df = pd.DataFrame(result_list)
df

                                                   0
0  Time Temperature (° F) Dew Point (° F) Humidit...
1  Time Temperature (° F) Dew Point (° F) Humidit...
2  Time Temperature (° F) Dew Point (° F) Humidit...

In [11]:
x = list(df.iloc[0][0].split("\n"))

In [12]:
x[0]

'Time Temperature (° F) Dew Point (° F) Humidity (%) Wind Speed (mph) Pressure (Hg) Precipitation (in)'

In [13]:
pd.DataFrame(np.array(x[1:]).reshape(7, 32)).T

,0,1,2,3,4,5,6
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total
1,1,48 42.9 39,41 36.2 34,81 77.0 66,29 16.6 7,28.0 27.8 27.7,0.00
2,2,46 41.7 37,41 35.8 0,100 84.0 66,10 3.9 0,28.1 28.1 28.0,0.00
3,3,46 42.3 36,43 39.3 36,100 89.7 76,7 1.5 0,28.1 28.0 28.0,0.00
4,4,50 46.6 45,48 44.9 43,100 94.0 87,8 4.3 0,28.0 27.7 27.6,0.00
5,5,52 46.8 43,46 44.1 39,100 88.9 76,5 1.7 0,27.6 27.6 27.5,0.00
6,6,46 42.4 39,39 23.0 0,93 70.9 53,15 7.3 0,27.7 27.7 27.6,0.00
7,7,39 36.3 34,37 22.8 0,93 87.0 65,23 11.7 0,27.6 27.5 27.5,0.00
8,8,37 34.3 32,23 19.0 16,65 54.4 44,28 18.5 7,27.9 27.7 27.6,0.00
9,9,36 32.8 30,21 18.1 14,64 55.4 47,20 7.2 0,28.0 27.9 27.9,0.00
10,10,32 26.9 21,27 21.0 18,100 79.2 55,6 1.9 0,28.0 27.9 27.9,0.00
11,11,34 27.5 23,30 25.3 21,100 91.7 75,9 3.5 0,28.1 28.0 27.9,0.00
12,12,45 16.9 0,36 16.2 0,100 95.5 66,10 4.1 0,28.1 27.9 27.7,0.00
13,13,46 40.8 36,45 38.4 0,100 92.5 76,14 6.8 0,28.0 27.9 27.6,0.00
14,14,52 49.5 45,46 32.1 0,93 65.5 47,31 19.6 2,28.0 27.7 27.5,0.00
15,15,48 41.7 34,39 26.7 0,87 75.0 57,7 3.5 0,28.2 28.2 28.0,0.00
16,16,50 44.1 39,43 40.3 37,93 86.2 76,6 1.8 0,28.2 28.2 28.1,0.00
17,17,50 46.5 45,50 45.8 43,100 97.0 87,6 2.3 0,28.2 28.2 28.2,0.00
18,18,59 51.5 46,50 46.9 46,100 85.7 63,9 3.1 0,28.2 28.1 28.1,0.00
19,19,55 52.8 50,52 49.3 41,100 88.9 67,14 5.9 0,28.1 28.1 28.0,0.00
20,20,57 47.7 37,46 38.9 30,100 74.2 36,13 5.9 0,28.2 28.1 28.1,0.00
21,21,52 41.4 32,41 31.6 0,100 85.0 66,5 1.6 0,28.2 28.2 28.1,0.00
22,22,50 42.0 34,43 38.5 34,100 87.3 71,6 2.0 0,28.2 28.1 28.0,0.00
23,23,54 47.5 43,45 41.1 39,100 79.8 62,14 4.2 0,28.1 28.0 28.0,0.00
24,24,55 47.4 41,41 39.5 36,93 75.8 47,14 4.3 0,28.2 28.1 28.0,0.00
25,25,48 42.9 37,36 20.2 0,81 62.3 43,16 8.6 2,28.2 28.1 28.1,0.00
26,26,50 38.1 0,34 14.4 0,100 71.8 43,21 11.0 2,28.1 28.1 28.1,0.00
27,27,43 37.4 34,28 23.6 19,70 57.8 45,21 11.5 3,28.2 28.1 28.0,0.00
28,28,54 37.5 25,30 24.7 19,86 63.3 28,16 5.2 0,28.2 28.1 28.0,0.00
29,29,55 42.0 28,37 26.6 0,93 67.5 36,20 6.6 0,28.0 27.8 27.7,0.00
30,30,52 44.3 32,34 19.7 0,87 60.9 41,23 9.7 1,27.8 27.8 27.7,0.00
31,31,52 45.7 36,36 13.5 0,81 60.9 47,21 10.4 2,27.9 27.8 27.7,0.00

In [14]:
x[1:].index("Max Avg Min")

32

In [15]:
df_clima = pd.DataFrame()

for i in range(len(df)):
    x = list(df.iloc[i][0].split("\n")) # "i" será cada fila de nuestro dataframe
    
    mi_ind = x[1:].index("Max Avg Min") # sacamos la posicion de "Max Avg Min" para hacer el reshape
    print(mi_ind)
    df_solo = pd.DataFrame(np.array(x[1:]).reshape(7, mi_ind)).T
    df_solo.columns = ["Time", "Temperature (° F)", "Dew Point (° F)", "Humidity (%)", "Wind Speed (mph)", "Pressure (Hg)", "Precipitation (in)"]
    df_solo["month"] = x[1]
    df_clima = pd.concat( [df_clima, df_solo], axis = 0)

32
29
32

In [16]:
df_clima[['Tmax','Tavg','Tmin']] = df_clima["Temperature (° F)"].str.split(" ",expand=True)

In [17]:
df_clima.head(2)

,Time,Temperature (° F),Dew Point (° F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in),month,Tmax,Tavg,Tmin
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total,Jan,Max,Avg,Min
1,1,48 42.9 39,41 36.2 34,81 77.0 66,29 16.6 7,28.0 27.8 27.7,0.00,Jan,48,42.9,39

In [18]:
df_clima.drop([0], axis = 0,  inplace = True)

In [19]:
df_clima.head(2)

,Time,Temperature (° F),Dew Point (° F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in),month,Tmax,Tavg,Tmin
1,1,48 42.9 39,41 36.2 34,81 77.0 66,29 16.6 7,28.0 27.8 27.7,0.00,Jan,48,42.9,39
2,2,46 41.7 37,41 35.8 0,100 84.0 66,10 3.9 0,28.1 28.1 28.0,0.00,Jan,46,41.7,37